body {
  background-image: url("../images/b0nn13_4nd_clyd3-2yFds_AfgdE-unsplash.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #0d0300;
}
